.custom-gutter-horizontal {
  padding: 0 1px;
  height: 100%;
  width: 4px;
  background: transparent;
}
.custom-gutter-horizontal:hover {
  cursor: col-resize;
}

.custom-dragger-horizontal {
  display: none;
}

